@model IEnumerable<ProductViewModel>

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Товары</h2>
    @foreach (var item in Model)
    {
        <div class="col-sm-4">
            <div class="product-image-wrapper">
                <div class="single-products">
                    <div class="productinfo text-center">
                        <p>
                            <a is-active-route ignore-actio asp-controller="Catalog" asp-action="ProductDetails" asp-route-id="@item.Id">
                                <img src="~/images/shop/@item.ImageUrl" alt="" />
                                <h2>@item.Price.ToString("C")</h2>
                                <p>@item.Name</p>
                            </a>
                        </p>
                        <a href="#" class="btn btn-default add-to-cart callAddToCart" data-id="@item.Id" data-returnUrl="@Context.Request.Path">
                            <i class="fa fa-shopping-cart">Добавить в корзину</i>
                        </a>
                    </div>
                    <div class="product-overlay">
                        <div class="overlay-content">
                            <h2>@item.Price.ToString("C")</h2>
                            <p>@item.Name</p>
                            <a href="#" class="btn btn-default add-to-cart callAddToCart" data-id="@item.Id" data-returnUrl="@Context.Request.Path"><i class="fa fa-shopping-cart">Добавить в корзину</i></a>
                        </div>
                    </div>
                </div>
                <div class="choose">
                    <ul class="nav nav-pills nav-justified">
                        <li>
                            <a href="#">
                                <i class="fa fa-plus-square">Добавить в список желаний</i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-plus-square">Добавить к сравнению</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    }
</div><!--features_items-->